<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="./fontawesome-free-5.14.0-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="./fontawesome-free-5.14.0-web/css/all.min.css">

    <title>Struggles of rape survivor Part 2-A Free Verse|Poems|Articles|theuntoldfables.com</title>
    <link rel="stylesheet" href="{% static 'seo.css' %}">


</head>

<body>

    <body class="bg-white" id="nishadf">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 p-3">
            <a class="navbar-brand" href="#">DR.SITE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">HOME <span class="sr-only"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">MAKE AN OPPOINTMENT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                    </li>


                </ul>

            </div>
        </nav>
        <div class="container bg-white" id="nm">

            <div class="yoo bg-white">


                <div class="text-center mt-4 mb-4 heading1">
                    <h1 class="display-4 booty safa"><strong>Best Indian Diet Plan for Weight Loss.</strong>
                    </h1>
                </div>
                <img src="./diet.jpg" alt="A picture that shows womens dreams and desires creatively using sticky notes"
                    class="img-fluid mt-3">

                <div class="text-left mt-3">
                    <p class="fgh safa">
                        Are you looking for the best Indian diet plan to lose weight? The rules are simple. All you need
                        to do is start eating right. But in India, this can feel like an insurmountable challenge, given
                        our food culture and dietary habits. For instance, a typical Indian meal is high in
                        carbohydrates and sugar – we eat a lot of potatoes, rice and sweets. We also love our snacks and
                        can’t imagine a day without our fix of namkeens and bhujias. We pressurize our friends and
                        family into eating too much, as a sign of hospitality and affection, and consider refusing an
                        extra helping a <a
                            href="https://www.google.com/search?q=rebuff+meaning&rlz=1C1NDCM_enIE717IE717&oq=rebuff+&aqs=chrome.1.69i57j0i433i457j0l6.5895j1j4&sourceid=chrome&ie=UTF-8"
                            class="text dark safa" target="_blank"><strong class="safa text-dark">rebuff</strong></a>.
                        To top it all, we’ve never embraced physical exercise as essential. It’s no wonder that India is
                        battling a growing obesity problem.
                        <br>

                        But the answer doesn’t lie in shunning Indian food in favour of foreign ingredients or fad
                        diets. You’ll find that the best Indian diet plan consists of foods you’ve already got in your
                        kitchen and that you can lose weight by making a few changes to your diet.
                    </p>
                    <h2 class="safa">Understand the Science Behind Weight Loss</h2>
                    <p class="fgh safa">Weight loss and gain, revolve around caloric consumption and expenditure. You
                        lose weight when you consume fewer calories than you expend. Conversely, you gain weight when
                        you consume more calories than you expend. To drop those excess kilos, all you need to do is eat
                        within your calorie budget and burn the required number of calories. A combination of the two
                        works best suggest experts. Get your daily requirement of calorie consumption and burn based on
                        your lifestyle and dietary preferences, by signing up on HealthifyMe.
                        <br>

                        However, simply determining how many calories your body needs isn’t enough. After all, four
                        samosas (600 calories), two slices of pizza (500 calories) and two gulab jamuns (385 calories)
                        may be within your daily requirement of 1500 calories, but these unhealthy food choices will
                        eventually lead to other health problems like high cholesterol and blood sugar. To lose weight
                        the healthy way, you also need to ensure your diet is balanced i.e. it covers all food groups
                        and provides all the nutrients you need necessary for good health.</p>
                    <h2 class="safa">1. Carbohydrates</h2>
                    <img src="./carbs.jpg" alt="Two eggs representing male and female gender in a cute way"
                        class="img-fluid mt-2 mb-2">

                    <p class="fgh mt-2 safa">Carbs are the body’s main source of energy and should make up half of your
                        daily calorie requirement. However, it’s important to choose the right type of carbs. Simple
                        carbs, such as bread, biscuit, white rice and wheat flour, contain too much sugar and are bad
                        for you. Instead, opt for complex carbs that are high in fiber and packed with nutrients as
                        compared to simple carbs. Fiber-rich complex carbs are slow to digest, leave you feeling full
                        for longer, and are therefore the best option for weight control. Brown rice, millets such as
                        ragi and oats are all good complex carb choices.</p>

                    <h2 class="safa">2. Proteins</h2>
                    <img src="./protiens.jpg"
                        alt="A black typewriter showing a white paper with GENDER ROLES writter in it"
                        class="img-fluid">

                    <p class="fgh mt-2 safa">Most Indians fail to meet their daily protein requirement. This is
                        troublesome, as proteins are essential to help paper writer the body build and repair tissue,
                        muscles, cartilage and skin, as well as pump blood. A high protein diet can also help you lose
                        weight, as it helps build muscle – which burns more calories than fat.
                        <br>

                        About 30% of your diet should consist of protein in the form of whole dals, paneer, chana, milk,
                        leafy greens, eggs, white meat or sprouts. Having one helping of protein with every meal is
                        essential.</p>


                    <h2 class="safa">3. Fats</h2>
                    <img src="./fats.jpg" alt="A black typewriter showing a white paper with GENDER ROLES writter in it"
                        class="img-fluid">

                    <p class="fgh safa">A food group that has acquired a bad reputation, fats are essential for the body
                        as they synthesize hormones, store vitamins and provide energy. Experts suggest one-fifth or 20%
                        of your diet comprise of healthy fats – polyunsaturated, monounsaturated and Omega-3 fatty
                        acids. Using a combination of oils for different meals – including olive oil, rice bran oil,
                        mustard oil, soya bean, sesame, sunflower and groundnut oil – along with restricted quantities
                        of butter and ghee is the most optimal way to consume fats. Avoid trans fats – that are found in
                        fried snacks, completely.</p>

                    <h2 class="safa">4. Vitamins and minerals</h2>
                    <img src="./vitamins.jpg"
                        alt="A black typewriter showing a white paper with GENDER ROLES writter in it"
                        class="img-fluid">

                    <p class="fgh safa">Vitamin A, E, B12, D, calcium and iron are essential for the body as they
                        support metabolism, nerve and muscle function, bone maintenance, and cell production. Primarily
                        derived from plants, meat and fish, minerals can be found in nuts, oilseeds, fruits and green
                        leafy vegetables.
                        <br>

                        Experts recommend consuming 100 grams of greens and 100 grams of fruits everyday.</p>


                    <h5 class="mt-5 safa">Lastly ,we hope you enjoyed reading Best Indian Diet Plan for Weight Loss.
                    </h5>





                </div>









            </div>
            <div id="Book_Review" class="bg-white nishad12">

                <div class="container-fluid bg-white asd">
                    <div class="row mt-5">

                        <div class="col-lg-4 mb-3 popup1">
                            <div class="card border border-dark bg-white text-dark nishad">
                                <img src="./protiens.jpg" class="card-img-top border border-dark"
                                    alt="A female bibliophile reading her favourite book in leisure while sitting on her bed.">
                                <div class="card-body text-center p-4 ui">
                                    <p class="card-text ui mb-4"><strong class="text-success ">The immortals of
                                            meluha</strong><br><strong class="text-warning mb-0">Amish Tripathi
                                        </strong><br>
                                        <strong class="mb-0"><small><strong>May 2020</strong>
                                            </small>
                                        </strong><br><br><strong>The very popular and one of the most loved books, The
                                            Immortals
                                            of Meluha by Amish
                                            Tripathi, was my first mythological fiction, as well as it's the first part
                                            of
                                            Shiva
                                            Trilogy, and it's not surprising that it has undoubtedly captured a place to
                                            my
                                            favourites list.
                                            Amish takes you back in time to narrate a tale, that will climb up to and in
                                            your
                                            heart and make it
                                            a home. This tale tells us about Shiva, whose own karma,</strong></p>
                                    <a href="/The-Immortals-Of-Meluha" class="stretched-link"><strong>Continue
                                            reading</strong></a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-3 popup1">
                            <div class="card border border-dark bg-white text-dark nishad">
                                <img src="./protiens.jpg" class="card-img-top border border-dark"
                                    alt="the third book of Khaled Hosseini called 'And The Mountains Echoed' placed on a table cloth amidst aesthetic looking dried leaves">
                                <div class="card-body text-center p-4 nmmm ui">


                                    <p class="card-text ui mb-4">
                                        <strong class="text-success mb-0">And the mountains echoed</strong><br>
                                        <strong class="text-warning mb-0">Khalid Hosseini</strong><br>
                                        <strong class="mb-0"><small><strong>May 2020</strong>
                                            </small>
                                        </strong><br><br><strong> Hosseini's first two books - ' The kite runner' and 'A
                                            thousand splendid suns' have
                                            undoubtedly made their place in the best seller list. A teller of tales as
                                            Hosseini
                                            has been,
                                            'And the mountains echoed' is a beautiful journey in the spider web of
                                            tales,
                                            and to be honest, my very first one with Hosseini.
                                            The story focuses on the beauty and innateness of the sibling relation of
                                            Abdullah
                                            and Pari and
                                            blends you on. I called it a spiderweb of tales</strong>
                                    </p>
                                    <a href="/And-The-Mountains-Echoed" class="stretched-link"><strong>Continue
                                            reading</strong></a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-3 popup1">
                            <div class="card border border-dark bg-white text-dark nishad">
                                <img src="./protiens.jpg" class="card-img-top border border-dark"
                                    alt="A book review being created on a pretty black typewriter.">
                                <div class="card-body text-center p-4 ui">
                                    <p class="card-text ui mb-4"><strong class="text-success ">Before I
                                            die</strong><br><strong class="text-warning mb-0">Jenny Downham</strong><br>
                                        <strong class="mb-0"><small><strong>Nov 2016</strong>
                                            </small>
                                        </strong><br><br><strong> Before I die, by jenny Downham is a young adult,
                                            published
                                            in
                                            2007, and obviously an
                                            internationally
                                            bestselling book.
                                            This book is described as " heartbreaking and devastating, yet sparkling
                                            with
                                            life."
                                            I believe,
                                            there cannot exist a better description of this book in such few words.
                                            The name of the book gives a sheer idea of what it could be about. But no,
                                            don't
                                            be
                                            in a hurry
                                            to
                                            judge a book by its name. As I said about, 'the fault in our stars', this
                                            book
                                            too
                                            is not about
                                            death, its about life.</strong></p>
                                    <a href="/Before-I-Die" class="stretched-link"><strong>Continue reading</strong></a>
                                </div>
                            </div>

                        </div>
                    </div>







                </div>
            </div>


        </div>


        <div class="container-fluid bg-dark mt-5 mx-0 py-0">

            <footer class="blog-footer d-flex flex-column justify-content-center align-items-center text-light mt-3">
                <div class="mt-2">
                    <h4>Follow us on</h4>

                    <div class="mt-0 d-flex justify-content-center align-items-center">
                        <a href="https://www.instagram.com/theuntoldfables_/" class="mr-1">
                            <i class="fab fa-instagram bn"></i>
                        </a>
                        <a href="https://www.instagram.com/theuntoldfables_/" class="mr-1">
                            <i class="fab fa-facebook-square bn"></i>
                        </a>

                    </div>
                </div>
                <div class="mt-2 text-center">

                    <p class="mb-3"><span>&#169;</span> 2020-2021 theuntoldfables.com</p>
                </div>
            </footer>
        </div>




    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>


</body>

</html>